<launch>
    <arg name="robot" default="armbot" />

    <!-- URDF description -->
    <param name="armbot_description" command="$(find xacro)/xacro.py '$(find armbot)/src/armbot_description/urdf/armbot.xacro'" />

    <!-- TF stuff -->
    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- run gazebo and spawn mybot -->
    <include file="$(find armbot)/src/first_world/launch/world.launch"/>

    <!-- visualisation -->
    <node name="rviz" pkg="rviz" type="rviz" />

</launch>